includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    # Elegendo csak az app mappat vizsgalni, a fobb kod ott talalhato
    paths:
        - app

    # Itt meg par metodus nem ter vissza, ezert ideiglenesen ki kell venni
    excludePaths:
        - app/Http/Controllers/GamesController.php
        - app/Http/Controllers/HomeController.php

    # Az elemzes szintje, 8 a legmagasabb
    level: 5

    checkMissingIterableValueType: false
